{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
 <head>
  <title>
   Blue Care - Coworking Space Page
  </title>
   <style type="text/css">
   .rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}
 </style>

  <meta charset="utf-8"/>
  <link href="https://themesberg.com/product/web-templates/spaces-coworking-listings-template" rel="canonical"/>
  <meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport"/>
  <meta content="Spaces is a premium and responsive coworking listing spaces web template built with Bootstrap 4, Sass, Gulp and jQuery. Use this template to create awesome real estate listing websites for the coworking business world." name="description"/>
  <meta content="Themesberg" name="author"/>
  <meta content="spaces web template, real estate web template, coworking web template, coworking spaces web template, coworking bootstrap 4, real estate bootstrap 4, themesberg, bootstrap 4, jquery, sass, gulp, responsive web template" name="keywords"/>
  <!-- Open Graph / Facebook -->
  <meta content="website" property="og:type"/>
  <meta content="https://demo.themesberg.com/spaces" property="og:url"/>
  <meta content="Spaces - Coworking Listing Web Template" property="og:title"/>
  <meta content="Spaces is a premium coworking listing spaces web template built with Bootstrap 4, Sass, Gulp and jQuery. Use this template to create awesome real estate listing websites for the coworking business world." property="og:description"/>
  <meta content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/spaces/spaces-preview.jpg" property="og:image"/>
  <!-- Twitter -->
  <meta content="summary_large_image" property="twitter:card"/>
  <meta content="https://demo.themesberg.com/spaces" property="twitter:url"/>
  <meta content="Spaces - Coworking Listing Web Template" property="twitter:title"/>
  <meta content="Spaces is a premium coworking listing spaces web template built with Bootstrap 4, Sass, Gulp and jQuery. Use this template to create awesome real estate listing websites for the coworking business world." property="twitter:description"/>
  <meta content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/spaces/spaces-preview.jpg" property="twitter:image"/>
  <!-- Favicon -->
  <link href="{% static 'vezeeta/assets/img/favicon/apple-touch-icon.png' %}" rel="apple-touch-icon" sizes="120x120"/>
  <link href="{% static 'vezeeta/assets/img/favicon/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png"/>
  <link href="{% static 'vezeeta/assets/img/favicon/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png"/>
  <link href="{% static 'vezeeta/assets/img/favicon/site.webmanifest' %}" rel="manifest"/>
  <link color="#ffffff" href="{% static 'vezeeta/assets/img/favicon/safari-pinned-tab.svg' %}" rel="mask-icon"/>
  <meta content="#ffffff" name="msapplication-TileColor"/>
  <meta content="#ffffff" name="theme-color"/>
  <link href="{% static 'vezeeta/node_modules/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'vezeeta/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'vezeeta/node_modules/prismjs/themes/prism.css' %}" rel="stylesheet"/>
  <!-- Spaces CSS -->
  <link href="{% static 'vezeeta/css/spaces.css' %}" rel="stylesheet" type="text/css"/>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!--star rating mohamed hatem -->
  
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-141734189-1">
  </script>
  <script>
   window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-141734189-1');
  </script>
 </head>
 <body>
  <header class="header-global">
   <nav class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-dark navbar-theme-primary headroom py-lg-2 px-lg-6" id="navbar-main">
    <div class="container">
     <a class="navbar-brand" href="{% static 'vezeeta/index.html' %}">
  <p style="font-size: 30px;font-style: bold;">Blue Care</p>
     </a>
     <div class="navbar-collapse collapse" id="navbar_global">
      <div class="navbar-collapse-header">
       <div class="row">
        <div class="col-6 collapse-brand">
         <a href="{% static 'vezeeta/index.html' %}">
          <img alt="Menu logo" src="{% static 'vezeeta/assets/img/brand/primary.svg' %}"/>
         </a>
        </div>
        <div class="col-6 collapse-close">
         <a aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation" class="fas fa-times" data-target="#navbar_global" data-toggle="collapse" href="#navbar_global">
         </a>
        </div>
       </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover ml-3">
       <li class="nav-item">
        <a class="nav-link" href="{% static 'vezeeta/index.html' %}">
         <span class="nav-link-inner-text">
          Home
         </span>
        </a>
       </li>
       <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
         <span class="nav-link-inner-text">
          Pages
         </span>
         <i class="fas fa-angle-down nav-link-arrow">
         </i>
        </a>
        <ul class="dropdown-menu">
         <li class="nav-item">
          <a class="dropdown-item" href="{% static 'vezeeta/html/pages/single-space.html' %}">
           Space details
          </a>
         </li>
         <li class="nav-item">
          <a class="dropdown-item" href="{% static 'vezeeta/html/pages/all-spaces.html' %}">
           Listing spaces
          </a>
         </li>
         <li class="nav-item">
          <a class="dropdown-item" href="{% static 'vezeeta/html/pages/submit-space.html' %}">
           Submit space
          </a>
         </li>
         <li class="nav-item">
          <a class="dropdown-item" href="{% static 'vezeeta/html/pages/profile.html' %}">
           Space owner
          </a>
         </li>
         <li class="nav-item">
          <a class="dropdown-item" href="{% static 'vezeeta/html/pages/about.html' %}">
           About
          </a>
         </li>
         <li class="nav-item">
          <a class="dropdown-item" href="{% static 'vezeeta/html/pages/contact.html' %}">
           Contact
          </a>
         </li>
         <li class="nav-item">
          <a class="dropdown-item" href="{% static 'vezeeta/html/pages/blank.html' %}">
           Blank page
          </a>
         </li>
         <li class="dropdown-submenu">
          <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle dropdown-item d-flex justify-content-between align-items-center" href="#">
           My account
           <i class="fas fa-angle-right nav-link-arrow">
           </i>
          </a>
          <ul class="dropdown-menu">
           <li>
            <a class="dropdown-item" href="{% static 'vezeeta/html/pages/my-account.html' %}">
             My account
            </a>
           </li>
           <li>
            <a class="dropdown-item" href="{% static 'vezeeta/html/pages/my-listings.html' %}">
             My listings
            </a>
           </li>
           <li>
            <a class="dropdown-item" href="{% static 'vezeeta/html/pages/edit-space.html' %}">
             Edit space
            </a>
           </li>
          </ul>
         </li>
         <li class="dropdown-submenu">
          <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle dropdown-item d-flex justify-content-between align-items-center" href="#">
           Authentication
           <i class="fas fa-angle-right nav-link-arrow">
           </i>
          </a>
          <ul class="dropdown-menu">
           <li>
            <a class="dropdown-item" href="{% static 'vezeeta/html/pages/sign-in.html' %}">
             Sign In
            </a>
           </li>
           <li>
            <a class="dropdown-item" href="{% static 'vezeeta/html/pages/sign-up.html' %}">
             Sign Up
            </a>
           </li>
           <li>
            <a class="dropdown-item" href="{% static 'vezeeta/html/pages/forgot-password-request.html' %}">
             Forgot password
            </a>
           </li>
          </ul>
         </li>
         <li class="dropdown-submenu">
          <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle dropdown-item d-flex justify-content-between align-items-center" href="#">
           Blog
           <i class="fas fa-angle-right nav-link-arrow">
           </i>
          </a>
          <ul class="dropdown-menu">
           <li>
            <a class="dropdown-item" href="{% static 'vezeeta/html/pages/blog.html' %}">
             Articles
            </a>
           </li>
           <li>
            <a class="dropdown-item" href="{% static 'vezeeta/html/pages/blog-single.html' %}">
             Single article
            </a>
           </li>
          </ul>
         </li>
         <li class="dropdown-submenu">
          <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle dropdown-item d-flex justify-content-between align-items-center" href="#">
           Special pages
           <i class="fas fa-angle-right nav-link-arrow">
           </i>
          </a>
          <ul class="dropdown-menu">
           <li>
            <a class="dropdown-item" href="{% static 'vezeeta/html/pages/coming-soon.html' %}">
             Coming Soon
            </a>
           </li>
           <li>
            <a class="dropdown-item" href="{% static 'vezeeta/html/pages/legal.html' %}">
             Legal page
            </a>
           </li>
           <li>
            <a class="dropdown-item" href="{% static 'vezeeta/html/pages/404.html' %}">
             404 page
            </a>
           </li>
           <li>
            <a class="dropdown-item" href="{% static 'vezeeta/html/pages/500.html' %}">
             500 page
            </a>
           </li>
          </ul>
         </li>
        </ul>
       </li>
       <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
         <span class="nav-link-inner-text">
          Support
         </span>
         <i class="fas fa-angle-down nav-link-arrow">
         </i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg">
         <div class="col-auto px-0" data-dropdown-content="">
          <div class="list-group list-group-flush">
           <a class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4" href="{% static 'vezeeta/docs/introduction.html' %}">
            <span class="icon icon-sm icon-tertiary">
             <i class="fas fa-file-alt">
             </i>
            </span>
            <div class="ml-4">
             <span class="text-dark d-block">
              Documentation
              <span class="badge badge-sm badge-tertiary ml-2">
               v2.1
              </span>
             </span>
             <span class="small">
              Components and setup
             </span>
            </div>
           </a>
           <a class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4" href="https://themesberg.com/contact" target="_blank">
            <span class="icon icon-sm icon-primary">
             <i class="fas fa-microphone-alt">
             </i>
            </span>
            <div class="ml-4">
             <span class="text-dark d-block">
              Support
             </span>
             <span class="small">
              Looking for answers? Ask us!
             </span>
            </div>
           </a>
          </div>
         </div>
        </div>
       </li>
      </ul>
     </div>
     <div class="d-none d-lg-block">
      <a class="btn btn-sm btn-primary animate-up-1 ml-3" href="{% static 'vezeeta/html/pages/sign-in.html' %}">
       Login
      </a>
      <a class="btn btn-sm btn-white animate-up-1 ml-3" href="{% static 'vezeeta/html/pages/sign-up.html' %}">
       Sign up
      </a>
      <a class="btn btn-sm btn-outline-white ml-3" href="{% static 'vezeeta/html/pages/submit-space.html' %}">
       <i class="fas fa-plus mr-2">
       </i>
       List a Space
      </a>
     </div>
     <div class="d-flex d-lg-none align-items-center">
      <a class="btn btn-sm btn-primary animate-up-1 ml-3" href="{% static 'vezeeta/html/pages/sign-in.html' %}">
       Login
      </a>
      <a class="btn btn-sm btn-white animate-up-1 ml-3" href="{% static 'vezeeta/html/pages/sign-up.html' %}">
       Sign up
      </a>
      <button aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler ml-2" data-target="#navbar_global" data-toggle="collapse" type="button">
       <span class="navbar-toggler-icon">
       </span>
      </button>
     </div>
    </div>
   </nav>
  </header>
  <main>
   <!-- Hero -->
   <div class="section section-header bg-primary overlay-dark text-white rounded overflow-hidden" >
    {% block header %} 
    {% endblock header%}
   </div>
         <!-- Your Code Goes Here -->
                    {% block content %}
                    {% endblock content%}
                    <!-- End code -->

  </main>
  <footer class="footer section bg-dark text-white">
   <div class="container">
    <div class="row">
     <div class="col-md-3">
      <a class="footer-brand" href="{% static 'vezeeta/index.html' %}">
       <img alt="Brand logo footer" src="{% static 'vezeeta/assets/img/brand/light.svg' %}"/>
      </a>
      <p class="mt-4 text-gray">
       For those seeking the finest in services and technology in a downtown business center, without the high cost.
      </p>
      <ul class="social-buttons mb-5 mb-lg-0">
       <li>
        <a class="btn btn-lg btn-link btn-twitter text-white" data-placement="top" data-toggle="tooltip" href="https://twitter.com/themesberg" rel="nofollow" target="_blank" title="Follow us on Twitter">
         <i class="fab fa-twitter">
         </i>
        </a>
       </li>
       <li>
        <a class="btn btn-lg btn-link btn-facebook text-white" data-placement="top" data-toggle="tooltip" href="https://www.facebook.com/themesberg" rel="nofollow" target="_blank" title="Like us on Facebook">
         <i class="fab fa-facebook">
         </i>
        </a>
       </li>
       <li>
        <a class="btn btn-lg btn-link btn-github text-white" data-placement="top" data-toggle="tooltip" href="https://github.com/themesberg" rel="nofollow" target="_blank" title="Star us on Github">
         <i class="fab fa-github">
         </i>
        </a>
       </li>
       <li>
        <a class="btn btn-lg btn-link btn-dribbble text-white" data-placement="top" data-toggle="tooltip" href="https://dribbble.com/themesberg" rel="nofollow" target="_blank" title="Like us on Dribbble">
         <i class="fab fa-dribbble">
         </i>
        </a>
       </li>
      </ul>
     </div>
     <div class="col-sm-6 col-md-3 col-lg-2 mt-4 mt-md-0">
      <h6 class="font-weight-normal">
       About Us
      </h6>
      <ul class="links-vertical">
       <li>
        <a class="text-gray" href="https://themesberg.com/blog" target="_blank">
         Blog
        </a>
       </li>
       <li>
        <a class="text-gray" href="https://themesberg.com/about" target="_blank">
         About Us
        </a>
       </li>
       <li>
        <a class="text-gray" href="https://themesberg.com/products" target="_blank">
         Products
        </a>
       </li>
       <li>
        <a class="text-gray" href="https://themesberg.com/contact" target="_blank">
         Contact Us
        </a>
       </li>
      </ul>
     </div>
     <div class="col-sm-6 col-md-3 col-lg-3 mt-4 mt-md-0">
      <h6 class="font-weight-normal">
       Market
      </h6>
      <ul class="links-vertical">
       <li>
        <a class="text-gray" href="#">
         Sales FAQ
        </a>
       </li>
       <li>
        <a class="text-gray" href="#">
         How to Register
        </a>
       </li>
       <li>
        <a class="text-gray" href="#">
         Sell Goods
        </a>
       </li>
       <li>
        <a class="text-gray" href="#">
         Receive Payment
        </a>
       </li>
       <li>
        <a class="text-gray" href="#">
         Sell Goods
        </a>
       </li>
       <li>
        <a class="text-gray" href="#">
         Receive Payment
        </a>
       </li>
      </ul>
     </div>
     <div class="col-md-3 col-lg-4 col-xl-4 mt-3 mt-lg-0 mt-4 mt-md-0">
      <h6 class="font-weight-normal">
       Subscribe
      </h6>
      <p class="text-gray">
       Join our mailing list. We write rarely, but only the best content.
      </p>
      <form>
       <div class="form-row">
        <div class="col-12">
         <input class="form-control mb-2" name="email" placeholder="Email Address" required="" type="email"/>
        </div>
        <div class="col-12">
         <button class="btn btn-secondary shadow-soft btn-block" data-loading-text="Sending" type="submit">
          <span>
           Subscribe
          </span>
         </button>
        </div>
       </div>
      </form>
      <small class="text-gray mt-3 form-text">
       We’ll never share your details. See our
       <a class="text-light" href="{% static 'vezeeta/html/pages/legal.html' %}">
        Privacy Policy
       </a>
      </small>
     </div>
    </div>
    <hr/>
    <div class="copyright text-center mt-5">
     ©
     <span id="current-year">
     </span>
     <a href="https://themesberg.com">
      Themesberg
     </a>
     . All rights reserved.
    </div>
   </div>
  </footer>
  <!-- Core -->
  <script src="{% static 'vezeeta/node_modules/jquery/dist/jquery.min.js' %}">
  </script>
  <script src="{% static 'vezeeta/node_modules/popper.js/dist/umd/popper.min.js' %}">
  </script>
  <script src="{% static 'vezeeta/node_modules/bootstrap/dist/js/bootstrap.min.js' %}">
  </script>
  <script src="{% static 'vezeeta/node_modules/headroom.js/dist/headroom.min.js' %}">
  </script>
  <!-- Vendor JS -->
  <script src="{% static 'vezeeta/node_modules/onscreen/dist/on-screen.umd.min.js' %}">
  </script>
  <script src="{% static 'vezeeta/node_modules/nouislider/distribute/nouislider.min.js' %}">
  </script>
  <script src="{% static 'vezeeta/node_modules/sticky-sidebar/dist/sticky-sidebar.min.js' %}">
  </script>
  <script src="{% static 'vezeeta/node_modules/bootstrap-datepicker/js/bootstrap-datepicker.js' %}">
  </script>
  <script src="{% static 'vezeeta/node_modules/waypoints/lib/jquery.waypoints.min.js' %}">
  </script>
  <script src="{% static 'vezeeta/node_modules/jquery.counterup/jquery.counterup.min.js' %}">
  </script>
  <script src="{% static 'vezeeta/node_modules/jquery-countdown/dist/jquery.countdown.min.js' %}">
  </script>
  <script src="{% static 'vezeeta/node_modules/prismjs/prism.js' %}">
  </script>
  <script src="{% static 'vezeeta/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.js' %}">
  </script>
  <script src="{% static 'vezeeta/node_modules/jquery-validation/dist/jquery.validate.min.js' %}">
  </script>
  <script src="{% static 'vezeeta/assets/js/autocomplete.js' %}">
  </script>
  <script src="{% static 'vezeeta/assets/js/jquery.slideform.js' %}">
  </script>
  <!-- Spaces JS -->
  <script src="{% static 'vezeeta/assets/js/spaces.js' %}">
  </script>

 </body>


</html>