{% extends 'admin/base.html' %}
{% load staticfiles %}

{% block extrahead %}
    <!-- Favicons-->
    <link href="{% static 'cpanel/img/favicon.svg' %}" rel="shortcut icon" />

    <style>
        a, label, li, body{
            font-size: 15px;
        }

        .breadcrumbs{
            font-size: 15px !important;
        }
        .sidebar-link-label{
            font-size: 15px !important;
        }

        td {
            color: #454545;
        }
        input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="number"], textarea, select, .vTextField {
            border: 0.07143rem solid #bac1cc;
        }

        .select2-container--jet .select2-selection{
            border: 0.07143rem solid #bac1cc;
        }
        }
        div.initialized a, div.initialized a:visited {
            color: #a3b4c4 !important;
        }
    </style>
    <script type="text/javascript">
        window.onload = function(){
            try{
                document.getElementsByClassName('vDateField')[0].setAttribute("autocomplete", "off");
                document.getElementsByClassName('vTimeField')[0].setAttribute("autocomplete", "off");
            }catch(err){}
            var side_links = document.getElementsByClassName('sidebar-link')
            for (var i=0; i<side_links.length; i++){
                if(side_links[i].href == ""){
                    side_links[i].parentElement.setAttribute("style", "display:none");
                }
            }
        };
    </script>
{% endblock %}

{% block userlinks %}
{{ block.super }}
<a href="javascript:void(0);" onclick="to_arabic()">النسخة العربية</a>
<a href="javascript:void(0);" onclick="to_english()">English version</a>
<script type="text/javascript">
function to_arabic(){
    var current_URL = location.href;
    arabic_URL = current_URL.replace('/en/', '/ar/');
    location.replace(arabic_URL);
}
function to_english(){
    var current_URL = location.href;
    english_URL = current_URL.replace('/ar/', '/en/');
    location.replace(english_URL);
}
</script>
{% endblock %}
