{% extends 'admin/base.html' %}
{% load staticfiles %}

{% block extrahead %}
    <!-- Favicons-->
    <link href="{% static 'cpanel/img/favicon.svg' %}" rel="shortcut icon" />

    <link href="{% static 'main/style.css' %}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block userlinks %}
{{ block.super }}
<a href="javascript:void(0);" onclick="to_arabic()">النسخة العربية</a>
<a href="javascript:void(0);" onclick="to_english()">English version</a>
<script type="text/javascript">
function to_arabic(){
    var current_URL = location.href;
    arabic_URL = current_URL.replace('/en/', '/ar/');
    location.replace(arabic_URL);
}
function to_english(){
    var current_URL = location.href;
    english_URL = current_URL.replace('/ar/', '/en/');
    location.replace(english_URL);
}
</script>
{% endblock %}

{% block footer %}
    {{block.super}}
    <script src="{% static 'main/main.js' %}"></script>

{% endblock %}
