{% extends "cpanel/Base.html" %}
{% load staticfiles %}
{% block content %}
<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class="pull-left">
            <div class="page-title">
                Add Specialization
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li>
                <i class="fa fa-home">
                </i>
                <a class="parent-item" href="index.html">
                    Home
                </a>
                <i class="fa fa-angle-right">
                </i>
            </li>
            <li class="active">
                Add Specialization
            </li>
        </ol>
    </div>
</div>

<!-- Part Two -->
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="card-head">
                <header>
                    Basic Information
                </header>
                <button class="mdl-button mdl-js-button mdl-button--icon pull-right" data-upgraded=",MaterialButton" id="panel-button">
                    <i class="material-icons">
                        more_vert
                    </i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="panel-button">
                    <li class="mdl-menu__item">
                        <i class="material-icons">
                            assistant_photo
                        </i>
                        Action
                    </li>
                    <li class="mdl-menu__item">
                        <i class="material-icons">
                            print
                        </i>
                        Another action
                    </li>
                    <li class="mdl-menu__item">
                        <i class="material-icons">
                            favorite
                        </i>
                        Something else
                        here
                    </li>
                </ul>
            </div>
            <form method='POST' enctype="multipart/form-data" id="add_form"> {% csrf_token %}
                <div class="card-body row">
                    <!-- Your Field Goes Here... -->

                    <div class="col-lg-12 p-t-20">
					    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					        <input class="mdl-textfield__input" type="number" name="specialization_id" required="" />
					        <label class="mdl-textfield__label">
					            ID
					        </label>
					    </div>
					</div>

					<div class="col-lg-12 p-t-20">
					    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
					        <input class="mdl-textfield__input" type="text" name="name" required maxlength="120" />
					        <label class="mdl-textfield__label">
					            Name
					        </label>
					    </div>
					</div>


                    <div class="col-lg-12 p-t-20">
                        <span>Hide:</span>
                        <label style="display: inline; margin-left: 10px;" class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-8" id="switch_label">
                            <input class="mdl-switch__input" id="switch-8" type="checkbox" name="hide" />
                        </label>
                    </div>
                    <div class="col-lg-12 p-t-20 text-center">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink" type="submit">
                            Submit
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default" type="button" id="add_form_Cancel_button">
                            Cancel
                        </button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content%}
