{% extends "cpanel/Base.html" %}
{% load staticfiles %}
{% block content %}
<!-- Part One -->
<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class="pull-left">
            <div class="page-title">
                Medical Institution List
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li>
                <i class="fa fa-home">
                </i>
                <a class="parent-item" href="index.html">
                    Home
                </a>
                <i class="fa fa-angle-right">
                </i>
            </li>
            <li>
                <a class="parent-item" href="">
                    Medical Institutions
                </a>
                <i class="fa fa-angle-right">
                </i>
            </li>
            <li class="active">
                Medical Institution List
            </li>
        </ol>
    </div>
</div>
<!-- End Part One -->
<!-- Part Two -->
<div class="row">
    <div class="col-md-12">
        <div class="tabbable-line">
            <div class="tab-content">
                <div class="tab-pane active fontawesome-demo" id="tab1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-topline-red">
                                <div class="card-head">
                                    <header>
                                    </header>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;">
                                        </a>
                                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;">
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <div class="btn-group">
                                                <a class="btn btn-info" href="{% url 'cpanel:medical_institution_add' %}" id="addRow">
                                                    Add New
                                                    <i class="fa fa-plus">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-scrollable">
                                        <table class="table table-hover table-checkable order-column full-width" id="example4">
                                            <thead>
                                                <tr>
                                                    <th>
                                                    </th>
                                                    <th>
                                                        ID
                                                    </th>
                                                    <th>
                                                        Name
                                                    </th>
                                                    <th>
                                                        Address
                                                    </th>
                                                    <th>
                                                        Phone
                                                    </th>
                                                    <th>
                                                        Joining Date
                                                    </th>
                                                    <th>
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for medical_institution in medical_institutions %}
                                                <tr class="odd gradeX" id="{{medical_institution}}">
                                                    <td class="patient-img">
                                                        {% if medical_institution.image %}
                                                        <img src="{{medical_institution.image.url}}">
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {{medical_institution}}
                                                    </td>
                                                    <td>
                                                        <p>{{medical_institution.institution_name}}</p>
                                                    </td>
                                                    <td class="left">
                                                        <p> {% for address in medical_institution.get_address %} {{address.address}} <br />{% endfor %}</p>
                                                    </td>
                                                    <td class="left">
                                                        <p> {% for phone in medical_institution.get_phone %} <a href="tel:{{phone.phone}}">{{phone.phone}}</a> <br />{% endfor %}</p>
                                                    </td>
                                                    <td class="left">
                                                        <p> {{ medical_institution.created_at|date:"F d, Y"}}
                                                            <p>
                                                    </td>
                                                    <form method="POST" action=""> {% csrf_token %}
                                                        <td>
                                                            <a class="btn btn-primary btn-xs" href="{% url 'cpanel:medical_institution_edit' medical_institution %}">
                                                                <i class="fa fa-pencil">
                                                                </i>
                                                            </a>
                                                            <a class="btn btn-danger btn-xs" onclick="delete_item({{medical_institution}})">
                                                                <i class="fa fa-trash-o"></i>
                                                            </a>
                                                        </td>
                                                    </form>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Part Two -->
{% endblock content %}
