{% extends "cpanel/Base.html" %}
{% load staticfiles %}
{% block content %}
<!-- Part One -->
<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class="pull-left">
            <div class="page-title">
                Edit Insurance Type
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li>
                <i class="fa fa-home">
                </i>
                <a class="parent-item" href="index.html">
                    Home
                </a>
                <i class="fa fa-angle-right">
                </i>
            </li>
            <li class="active">
                Edit Insurance Type
            </li>
        </ol>
    </div>
</div>
<!-- End Part One -->
<!-- Part Two -->
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="card-head">
                <header>
                    Basic Information
                </header>
                <button class="mdl-button mdl-js-button mdl-button--icon pull-right" data-upgraded=",MaterialButton" id="panel-button">
                    <i class="material-icons">
                        more_vert
                    </i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="panel-button">
                    <li class="mdl-menu__item">
                        <i class="material-icons">
                            assistant_photo
                        </i>
                        Action
                    </li>
                    <li class="mdl-menu__item">
                        <i class="material-icons">
                            print
                        </i>
                        Another action
                    </li>
                    <li class="mdl-menu__item">
                        <i class="material-icons">
                            favorite
                        </i>
                        Something else
                        here
                    </li>
                </ul>
            </div>
            <form method='POST' enctype="multipart/form-data" id="add_form"> {% csrf_token %}
                <div class="card-body row">
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <input class="mdl-textfield__input" name="type_name" id="txtname" type="text" value="{{insurance_type.type_name}}" />
                            <label class="mdl-textfield__label">
                                Name
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <input class="mdl-textfield__input" id="txtname" name="company" type="text" value="{{insurance_type.company}}" />
                            <label class="mdl-textfield__label">
                                Insurance Company ID
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <span>Hide:</span>
                        <label style="display: inline; margin-left: 10px;" class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-8" id="switch_label">
                            <input class="mdl-switch__input" id="switch-8" type="checkbox" name="hide" {% if insurance_type.hide%}checked {%endif%}  />
                        </label>
                    </div>
                </div>
                <div class="col-lg-12 p-t-20">
                    <div class="col-lg-12 p-t-20 text-center">
                        <div class="col-lg-12 p-t-20 text-center">
                            <button class="btn btn-circle btn-success" type="submit">
                                Submit!
                            </button>
                            <button class="btn btn-circle btn-danger" type="reset">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> {% endblock content%}
