{% extends "cpanel/Base.html" %}
{% load staticfiles %}
{% load myTags %}
{% block content %}
<!-- Part One -->
<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class="pull-left">
            <div class="page-title">
                Insurance Type List
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li>
                <i class="fa fa-home">
                </i>
                <a class="parent-item" href="{% url 'cpanel:home' %}">
                    Home
                </a>
                <i class="fa fa-angle-right">
                </i>
            </li>
            <li>
                <a class="parent-item" href="">
                    Insurance Types
                </a>
                <i class="fa fa-angle-right">
                </i>
            </li>
            <li class="active">
                Insurance Type List
            </li>
        </ol>
    </div>
</div>
<!-- End Part One -->
<!-- Part Two -->
<div class="row">
    <div class="col-md-12">
        <div class="tabbable-line">
            <div class="tab-content">
                <div class="tab-pane active fontawesome-demo" id="tab1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-topline-red">
                                <div class="card-head">
                                    <header>
                                    </header>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;">
                                        </a>
                                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;">
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">

                                                            {% if request.user|allowed_users:'Admin'|into_list %}

                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <div class="btn-group">
                                                <a class="btn btn-info" href="{% url 'cpanel:insurance_type_add' %}" id="addRow">
                                                    Add New
                                                    <i class="fa fa-plus">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="table-scrollable">
                                        <table class="table table-hover table-checkable order-column full-width" id="example4">
                                            <thead>
                                                <tr>
                                                    <th>
                                                    </th>
                                                    <th>
                                                        ID
                                                    </th>
                                                    <th>
                                                        Type Name
                                                    </th>
                                                    <th>
                                                        Company Name
                                                    </th>
                                                    <th>
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for insurance_type in insurance_types %}
                                                <tr class="odd gradeX" id="{{insurance_type}}">
                                                    <td>
                                                    </td>
                                                    <td>
                                                        <p>{{insurance_type}}</p>
                                                    </td>
                                                    <td>
                                                        <p>{{insurance_type.type_name}} </p>
                                                    </td>
                                                    <td class="left">
                                                        <p>
                                                            {{ insurance_type.company.company_name}}
                                                            <p>
                                                    </td>
                                                    <form method="POST" action=""> {% csrf_token %}

                                                        <td>
                                                            {% if request.user|allowed_users:'Admin'|into_list %}

                                                            <a class="btn btn-primary btn-xs" href="{% url 'cpanel:insurance_type_edit' insurance_type %}">
                                                                <i class="fa fa-pencil">
                                                                </i>
                                                            </a>
                                                            <a class="btn btn-danger btn-xs" onclick="delete_item({{insurance_type}})">
                                                                <i class="fa fa-trash-o"></i>
                                                            </a>
                                                             {% endif %}
                                                        </td>

                                                    </form>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Part Two -->
{% endblock content %}
