{% extends "cpanel/Base.html" %}
{% load staticfiles %}
{% block content %}
<!-- Part One -->
<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class="pull-left">
            <div class="page-title">
                Add Physician Hospital Working Time
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li>
                <i class="fa fa-home">
                </i>
                <a class="parent-item" href="{% url 'cpanel:home' %}">
                    Home
                </a>
                <i class="fa fa-angle-right">
                </i>
            </li>
            <li class="active">
                Add Physician Hospital Working Time
            </li>
        </ol>
    </div>
</div>
<!-- End Part One -->
<!-- Part Two -->
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="card-head">
                <header>
                    Basic Information
                </header>
            </div>
            <form method='POST' enctype="multipart/form-data" id="add_form"> {% csrf_token %}
                <div class="card-body row">
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <input class="mdl-textfield__input" name="physician_nn" id="txtfee" type="text" required />
                            <label class="mdl-textfield__label">
                                Physician National Number
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <input class="mdl-textfield__input" name="hospital" id="txtfee" type="text" required />
                            <label class="mdl-textfield__label">
                                Hospital ID
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <input class="mdl-textfield__input" name="fee" id="txtfee" type="text" required />
                            <label class="mdl-textfield__label">
                                Fee
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <label style="color: #999999">Working Days</label>
                        <select class="form-control" multiple="multiple" id="my-select" style="height:150px" name="week_day">
                            <option>Saturday</option>
                            <option>Sunday</option>
                            <option>Monday</option>
                            <option>Tuseday</option>
                            <option>Wednesday</option>
                            <option>Thursday</option>
                            <option>Friday</option>
                        </select>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <input class="mdl-textfield__input" type="time" name="start_time" value="13:30" required />
                            <label class="mdl-textfield__label">
                                Start Time
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <input class="mdl-textfield__input" type="time" name="end_time" value="13:30" required />
                            <label class="mdl-textfield__label">
                                End Time
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <span>Hide:</span>
                        <label style="display: inline; margin-left: 10px;" class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-8" id="switch_label">
                            <input class="mdl-switch__input" id="switch-8" type="checkbox" name="hide" />
                        </label>
                    </div>
                    <div class="col-lg-12 p-t-20 text-center">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink" type="submit">
                            Submit
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default" type="button" id="add_form_Cancel_button">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Part Two -->
{% endblock content%}
