{% extends "ai/Base.html" %}
{% block content %}
<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class="pull-left">
            <div class="page-title">
                Pneumonia Detection
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li>
                <i class="fa fa-home">
                </i>
                <a class="parent-item">
                    AI Central
                </a>
                <i class="fa fa-angle-right">
                </i>
            </li>
            <li class="active">
                Pneumonia Detection
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="card-head">
                <header>
                    Report Information
                </header>
            </div>
            <form method='POST' enctype="multipart/form-data" id="ai_form"> {% csrf_token %}
                <div class="card-body row">
                    <div class="col-lg-12 p-t-20">
                        <div class="Neon Neon-theme-dragdropbox">
                            <input style="z-index: 999; opacity: 0; width: 320px; height: 250px; position: absolute; right: 0px; left: 0px; margin-right: auto; margin-left: auto;" name="FieldName" id="filer_input2" type="file" accept="image/*" onchange="image_upload()">
                            <div class="Neon-input-dragDrop">
                                <div class="Neon-input-inner">
                                    <div class="Neon-input-icon" id="image_placeholder"><i class="fa fa-file-image-o"></i></div>
                                    <div class="Neon-input-text">
                                        <h3 id="image_text">Drag&amp;Drop image here</h3> <span style="display:inline-block; margin: 15px 0">or</span>
                                    </div><a class="Neon-input-choose-btn blue">Browse Files</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20 text-center">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink" type="submit">
                            Submit
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default" type="button" id="ai_form_Cancel_button">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="ai_results_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Your Results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal_data">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock content%}
