{% extends "vezeeta/Base.html" %}
{% load staticfiles %}

{% block header %} 

    <div class="container">
     <div class="row justify-content-center pt-5">
      <div class="col-12">
       <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-transparent">
         <li class="breadcrumb-item">
          <a href="{% static 'vezeeta/index.html' %}">
           Home
          </a>
         </li>
         <li class="breadcrumb-item">
          <a href="./all-spaces.html">
           Doctor Details
          </a>
         </li>
         <li aria-current="page" class="breadcrumb-item active">
         Dr.{{stakeholder.stakeholder_name}} {{stakeholder.stakeholder_last_name}} 
         </li>
        </ol>
       </nav>
       <!-- Heading -->
       <h1 class="display-2">
        Doctors in
        <span class="font-weight-light">
         Egypt
        </span>
       </h1>
       <!-- Text -->
       <p class="lead text-muted mt-4">
        100+ Doctor's specializations & Covers 165+ Locations.
        <br/>
        Discover and Book Doctor today.
       </p>
      </div>
     </div>
    </div>
     {% endblock %}
    {% block content %}

     <div class="section pt-5 pt-lg-6">
    <div class="container">
     <div class="row">
      <div class="col">
       <!-- Tab -->
       <nav>
        <div class="nav nav-tabs flex-column flex-md-row shadow-soft border-soft mb-3" id="nav-tab" role="tablist">
         <a aria-controls="nav-about" aria-selected="true" class="nav-item nav-link active" data-toggle="tab" href="#nav-about" id="nav-about-tab" role="tab">
          <i class="far fa-address-card">
          </i>
          About 
         </a>

   
         <a aria-controls="nav-reviews" aria-selected="false" class="nav-item nav-link" data-toggle="tab" href="#nav-reviews" id="nav-reviews-tab" role="tab">
          <i class="far fa-star">
          </i>
          Reviews
         </a>
         <a aria-controls="nav-location" aria-selected="false" class="nav-item nav-link" data-toggle="tab" href="#nav-location" id="nav-location-tab" role="tab">
          <i class="fas fa-map-marker-alt">
          </i>
          Location


        </div>
       </nav>

       <!-- About Tab -->
       <div class="tab-content mt-5 mb-3" id="nav-tabContent">
        <div aria-labelledby="nav-about-tab" class="tab-pane fade show active" id="nav-about" role="tabpanel">
         <h2 class="font-weight-normal">
          Dr.{{ stakeholder.stakeholder_name}}
         </h2>
         <div class="d-block d-md-flex">
          <div id="doctor_location">

          </div>
      
          
         </div>
         <div class="fancy-gallery my-5">
          <div class="row">
            {% if stakeholder.image %}
           <a class="mb-4 col-6 col-sm-4 img-fluid" data-caption="{{stakeholder.stakeholder_name}} {{stakeholder.stakeholder_last_name}}   image 1" data-fancybox="images" href="{{stakeholder.image.url}}">
            <img alt="" src="{{stakeholder.image.url}}"/>
           </a>
           <a class="mb-4 col-6 col-sm-4 img-fluid" data-caption="{{stakeholder.stakeholder_name}} {{stakeholder.stakeholder_last_name}} image 2" data-fancybox="images" href="{{stakeholder.image.url}}">
            <img alt="" src="{{stakeholder.image.url}}"/>
           </a>
            {% endif %}
          </div>
         </div>
         <p>
          <span class="font-weight-bold">
           {{stakeholder.stakeholder_name}}
          </span>
  
         <p>
         {{stakeholder.cv}}
         </p>

        </div>
        <!-- End of About Tab -->



        
        <!-- Reviews Tab -->
        <div aria-labelledby="nav-reviews-tab" class="tab-pane fade" id="nav-reviews" role="tabpanel" >
          <div style="   height: 450px; 
                overflow-x: hidden; 
                overflow-x: auto; ">
         <p class="font-small font-weight-light text-gray mb-3">
        {{physicianratingcount}} reviews found
         </p>
         {% for rate in physicianrating %}
         <div class="bg-white border border-soft shadow-soft p-4 mb-4">
          <div class="d-flex justify-content-between mb-4" id="new_review">
           <div class="d-flex align-items-center">
            <a class="btn btn-xs btn-icon-only btn-primary mr-2 p-1" href="./profile.html">
             <span class="fa fa-user">
             </span>
            </a>
            <a class="font-weight-normal font-small text-gray-800" href="./profile.html">
          
              
             {{rate.patient_nn.patient_nn.stakeholder_name}} {{rate.patient_nn.patient_nn.stakeholder_last_name }}
            </a>
            <span class="ml-2 font-small d-none d-md-inline">
             {{rate.updated_at|date:"D, d M, Y"}}
            </span>
           </div>

           <div class="d-flex justify-content-end align-items-center">
            <span class="d-flex justify-content-center">
              {% if rate.rate %}
             {% with ''|center:rate.rate as range %}
            {% for _ in range %}

                 <i class="star fa-star fas text-warning mr-2">
             </i>
             
            {% endfor %}

             {% endwith %}

               {% endif %}
                
            
            </span>
           </div>
          </div>
          <p class="m-0">
           {{rate.patient_comment}}
          </p>
         </div>
         {% endfor %}
       </div>
         <form method="post"  id="review_form" enctype="multipart/form-data">{% csrf_token %}
          <div class="d-flex justify-content-between align-items-center mb-3 mt-5">
           <h4 class="m-0">
            Add a review
           </h4>
 <span  class="d-flex justify-content-center stars-rating">
           
<fieldset class="rating">
  

   
    <input type="radio" onclick="displayRadioValue()" id="star1" name="rate" value="5 " /><label for="star1" title="Excellent $$"  >1 star</label>
     <input type="radio" onclick="displayRadioValue()" id="star2" name="rate" value="4"  /><label for="star2" title="Good enough" >2 stars</label>
      <input type="radio"  onclick="displayRadioValue()"id="star3" name="rate" value="3"   /><label for="star3" title="Not sure !!" >3 stars</label>
        <input type="radio" onclick="displayRadioValue()" id="star4" name="rate" value="2"    /><label for="star4" title="Kinda bad" >4 stars</label>
           <input type="radio" onclick="displayRadioValue()" id="star5" name="rate" value="1"   /><label for="star5" title="Bad :(" >5 stars</label>
  
   
</fieldset>
       </span>
          </div>
          <textarea  id="patient_comment" name="patient_comment" class="form-control border" data-bind-characters-target="#charactersRemaining" maxlength="1000"  placeholder="Add a review" required="" rows="6"></textarea>
          <div class="d-flex justify-content-between mt-3">
           <small class="font-weight-light">
            <span id="charactersRemaining">
             1000
            </span>
            characters remaining
           </small>
           <button class="btn btn-primary animate-up-2" id="review_button" name="review_button" type="submit">
            Add review
           </button>
          </div>
         </form>

        </div>
        <!-- End of Reviews Tab -->
        <div aria-labelledby="nav-location-tab" class="tab-pane fade" id="nav-location" role="tabpanel">
         <div class="row">
          <div class="col-12">
           <div class="mapouter">
            <div class="gmap_canvas">

                                 <!-- clinic           -->
      <!--          "https://maps.google.com/maps?q=cairo&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" -->
             <iframe id="gmap_canvas" src="https://www.google.com/maps/embed/v1/place?key={BROWSER_KEY}&q=cairo">
             </iframe>



            </div>
           </div>
          </div>
         </div>

        </div>
 
       </div>
       <!-- End of tab -->


      </div>
      <aside class="col-12 col-lg-4 mt-3 mt-lg-0">
       <div class="card bg-soft shadow-sm border-soft p-3">
     <div  >  
                    <label>Visit Location</label>
                      <select  id="location_list" value="" name="physician_working_clinic"  > 
                        <option value="" disabled selected>Please Select</option>
                         {% for clinic in physicianclinicworkingtime %}
                         {% ifchanged clinic.clinic %}
                         <option value="{{clinic.clinic}}">{{clinic.clinic.clinic.institution_name}}</option>
                          {% endifchanged %}
                         {% endfor %}
                             {% for hospital in physicianhospitalworkingtime %}
                         {% ifchanged hospital.hospital %}
                         <option value="{{hospital.hospital}}">{{hospital.hospital.hospital.institution_name}}</option>
                          {% endifchanged %}
                         {% endfor %}
 
          </select>
         
            </div>        <div class="d-flex align-items-baseline">
  <div id="fee">
  </div> 

        </div>

       

       <div class="card shadow-sm border-soft mt-4 p-3">
        <h5 class="font-weight-normal">
         Doctor Name 
        </h5>
        <div class="media d-flex align-items-center my-3">
         <a class="avatar-lg mr-2" data-placement="top" data-toggle="tooltip" href="../../doctor_details/{{stakeholder.national_number}}" title="More details" >
               {% if stakeholder.image %}
                                                      
                                                        
          <img alt="avatar" class="img-fluid rounded-circle" src="{{stakeholder.image.url}}"/>
          {% endif %}
         </a>
         <div class="avatar-name">
          <a class="text-gray" data-placement="top" data-toggle="tooltip" href="../../doctor_details/{{stakeholder.national_number}}" title="More details">
          {{stakeholder.stakeholder_name}} {{stakeholder.stakeholder_last_name}}
          </a>
         </div>
        </div>
        <!-- Button Modal -->
        <button class="btn btn-block btn-secondary mb-3" data-target="#modal-form" data-toggle="modal" type="button">
         Contact 
        </button>

                    <div class="card shadow-sm border-soft mt-4 p-3">
        <button class="btn btn-primary  availability " value="">
        Booking Availability 
        </button>
       </div>
        <!-- Modal Content -->
        <div aria-hidden="true" aria-labelledby="modal-form" class="modal fade" id="modal-form" role="dialog" tabindex="-1">
         <div class="modal-dialog modal-dialog-centered modal-md" role="document">
          <div class="modal-content">
           <div class="modal-body p-0">
            <div class="card shadow-md border-0">
             <div class="card-body position-relative">
              <button aria-label="Close" class="close mb-2" data-dismiss="modal" type="button">
               <span aria-hidden="true">
                ×
               </span>
              </button>
               <div class="form-group">
                <div class="input-group mb-4">
                      <div class="input-group-prepend" >
                
                 
               
                 
                
                                   </div> 
                                   <div style="text-align: center; margin-left: auto;
                                        margin-right: auto;">
                   <p>-------------- Contact Your Doctor --------------</p></div>
                                    {% for phone in stakeholder.get_phone %}
                                     {% if forloop.first %}
                                  <a href="tel:{{phone.phone}}"  aria-hidden="true" class="btn btn-primary btn-lg btn-block">
                                    <i class="fa fa-phone"   aria-hidden="true">  Call Doctor </i>
                                                            <br />
                                  </a>        
                                                        {% endif %}    
                                                           {% endfor %}              
                                            
                                  </div>
                                  <div class="form-group">
                                  <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                         
                 
               
                 
                
                                    </div>     
                 
                     
                                  <a href="mailto:{{stakeholder.email}}"  aria-hidden="true" class="btn btn-danger btn-lg btn-block">
                                                               <i class="fa fa-envelope">
                                                              Mail Doctor 
                                                                </i>
                                                            <br />
                                                        </a>                       
                                       
                                </div>
                               </div>


                                        <div id="phone_email" >
                                          



                                       
                 
               
                 
                </div>

             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
        <!-- End of Modal Content -->
       </div>
       <div class="card shadow-sm border-soft mt-4 p-3">
   
        <h5 class="font-weight-normal">
         Book A Visit
        </h5>
        <form method="post" enctype="multipart/form-data" id="book_visit">{% csrf_token %}

         <div class="form-group">
          <div class="input-group mb-4">
           <div class="input-group-prepend">
            <span class="input-group-text">
             <i class="far fa-user">
             </i>
            </span>
           </div>
           <input class="form-control" placeholder="Name" required="" type="text" value="{{stakeholder_user.stakeholder_name}}" readonly="" />
          </div>
         </div>
         <div class="form-group">
          <div class="input-group mb-4">
           <div class="input-group-prepend">
            <span class="input-group-text">
             <i class="far fa-envelope">
             </i>
            </span>
           </div>
           <input class="form-control" name="email" placeholder="Email" required="" type="email" value="{{stakeholder_user.email}}"/>
          </div>
         </div>
         <div class="form-group">
          <div class="input-group mb-4">
           <div class="input-group-prepend">
            <span class="input-group-text">
             <i class="fas fa-mobile">
             </i>
            </span>
           </div>
           {% for phone in stakeholder_user.get_phone %}
           {% if forloop.first %}
           
           <input class="form-control" name="phone" placeholder="Phone" value="{{phone.phone}}" required="" type="number"/>

            {% endif %}
           {% endfor %}
          
          </div>
         </div>
         <div class="form-group">
          <textarea class="form-control" name="message" id="message" placeholder="Write short message to host" required="" rows="4"></textarea>
         </div>
         <div class="text-center">
          <button class="btn btn-block btn-primary mt-4" id="booking_button"name="booking_button" type="submit">
           Send Request
          </button>
           <button class="btn btn-block btn-secondary mt-4" id="reset_button" type="reset">
           Reset
          </button>
         </div>
        </form>
       </div>
      </aside>
     </div>
    </div>
   </div>
   <section class="section bg-soft">
    <div class="container">
     <div class="row">
      <div class="col-12">
        {% if KNN_List %}
       <h4 class="mb-5 font-weight-bold">
        Similar Doctors you might like
       </h4>
       {% endif %}
      </div>
      {% for physician,address,rate,fee,booking,title,image in KNN_List %} 
      <div class="col-md-6 col-lg-4">
       <!-- Card -->
       <div class="card shadow-sm border-soft mb-4 animate-up-5">
        <a class="position-relative" href="../../doctor_details/{{physician.physician_nn}}">
         <img alt="image" class="card-img-top" src="{{image.url}}"/>
        </a>
        <div class="card-body">
         <a href="./single-space.html">
          <h5 class="font-weight-normal">
           {{ physician.physician_nn.stakeholder_name}} {{physician.physician_nn.stakeholder_last_name}}
          </h5>
         </a>
         <div class="post-meta">
          <span class="small lh-120">
           <i class="fas fa-map-marker-alt mr-2">
           </i> 
              {{ address }}
          </span>
         </div>
         <div class="d-flex my-4">
            {% if rate %}
             {% with ''|center:rate as range %}
            {% for _ in range %}

             <i class="star fas fa-star text-warning">
          </i>
             
            {% endfor %}

             {% endwith %}

               {% endif %}

          <span class="badge badge-pill badge-secondary ml-2">
           {{rate}}
          </span>
         </div>
         <div class="d-flex justify-content-between">
          <div class="col pl-0">
           <span class="text-muted font-small d-block mb-2">
            Fee
           </span>
           <span class="h5 text-dark font-weight-bold">
            {{fee}}$
           </span>
          </div>
          <div class="col">
           <span class="text-muted font-small d-block mb-2">
            Bookings
           </span>
           <span class="h5 text-dark font-weight-bold">
            {{booking}}
           </span>
          </div>
          <div class="col pr-0">
           <span class="text-muted font-small d-block mb-2">
            Degree
           </span>
           <span class="h5 text-dark font-weight-bold">
            {{title}}
           </span>
          </div>
         </div>
        </div>
       </div>
       <!-- End of Card -->
      </div>
      {% endfor %}
      </div>
     </div>
    </div>
   </section>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script> 
<script type="text/javascript" >

                     // ((for page url & post data)) //
var doctor = {{doctor}};
var patient = {{stakeholder_user}};
let rate_value = null;
  // handle radio input

function displayRadioValue() { 

  var rad = document.getElementsByName('rate'); 
  for(i = 0; i < rad.length; i++) { 
    if(rad[i].checked) {
            rate_value = rad[i].value;
            } 
         
        }
      } 

// handle send ajax booking data 

$('#book_visit').submit(function(e){

e.preventDefault();
var email = document.getElementsByName('email')[0].value; 
var phone = document.getElementsByName('phone')[0].value; 
var message = document.getElementsByName('message')[0].value; 
$.ajax({

      type:'POST',
      url: window.location.href,
      data:{

            email : email,
            phone : phone ,
            message: message ,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()

         },
      success: function() {
  
        alert("success");
        $("#booking_button").attr("disabled", true);
        $("#reset_button").attr("disabled", true);
      },

    });
});
// handle send ajax review data 
$('#review_form').submit(function(e){

    e.preventDefault();

    $.ajax({

      type:'POST',
      url: window.location.href,
      data:{

            patient_comment_js :$('#patient_comment').val(),
            rate_js : rate_value,
            patient_nn_js : patient ,
            physician_nn_js: doctor ,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()

         },
      success: function() {
   alert("success");
   $("#review_button").attr("disabled", true);

      },

    });
});
// handel picked Location from drop list 

location_list.addEventListener("change", function (e) {

 
var location = document.getElementById("location_list");
var selected = location.options[location.selectedIndex].value;


$.ajax({
        method: 'GET',
        processData: true,
        dataType: "text",
        cache: false,
        data: {code : selected     
        },
        dataType: "json",
        url: "http://127.0.0.1:8000/browse/doctor_details/"+doctor+"",
        success: function(dictOfWords) {

      // handle fee
        $('#fee').html(`
             <span class="h3 font-weight-bold mb-0 mr-1">
             `+dictOfWords['fees']+` L.E
         </span>
         <span class="small">
          / Visit Fees
         </span>
           `);
      //handle phones
      $('#phone_email').html(`
              <div class="form-group">
                                <div class="input-group mb-4">
                                      <div class="input-group-prepend" >
                                         </div>
         <div style="text-align: center; margin-left: auto;
                                                      margin-right: auto;">
     <p>----------- Contact Your Picked Location  -----------</p>
                                       </div>
      <a href="tel:`+dictOfWords['phone']+`" aria-hidden="true" class="btn btn-primary btn-lg btn-block">
      <i class="fa fa-phone"   aria-hidden="true">  Call Location </i> 
                           <br /> </a>
                          </div></div> 
                     <div class="form-group">
                       <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        </div>     
<a href="mailto:`+dictOfWords['mail']+`"  aria-hidden="true" class="btn   
                             btn-danger btn-lg btn-block">
                  <i class="fa fa-envelope">Mail Location </i>
                           <br />
                             </a> 
                            </div>
                          </div>      `);
        
    
      // handle map 
         document.getElementById("gmap_canvas").src ="https://www.google.com/maps/embed/v1/place?key={BROWSER_KEY}&q="+dictOfWords[0]+"";

          $('#doctor_location').html(`
          <span class="lh-120 ml-md-4">
           <i class="fas fa-map-marker-alt mr-1 pr-1">
           </i></span> `+dictOfWords[0]+` `
           );

            alert("success"); },
        error: function(error_data){
            alert("error"); }
    });

});


   

  // for django security

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;

}
  // for django security
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});



    </script>
{% endblock content %}
