{% extends "cpanel/Base.html" %}
{% load staticfiles %}
{% block content %}
<!-- Part One -->
<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class="pull-left">
            <div class="page-title">
                Add Patient History
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li>
                <i class="fa fa-home">
                </i>
                <a class="parent-item" href="index.html">
                    Home
                </a>
                <i class="fa fa-angle-right">
                </i>
            </li>
            <li class="active">
                Add Patient History
            </li>
        </ol>
    </div>
</div>
<!-- End Part One -->
<!-- Part Two -->
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="card-head">
                <header>
                    Basic Information
                </header>
                <button class="mdl-button mdl-js-button mdl-button--icon pull-right" data-upgraded=",MaterialButton" id="panel-button">
                    <i class="material-icons">
                        more_vert
                    </i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="panel-button">
                    <li class="mdl-menu__item">
                        <i class="material-icons">
                            assistant_photo
                        </i>
                        Action
                    </li>
                    <li class="mdl-menu__item">
                        <i class="material-icons">
                            print
                        </i>
                        Another action
                    </li>
                    <li class="mdl-menu__item">
                        <i class="material-icons">
                            favorite
                        </i>
                        Something else
                        here
                    </li>
                </ul>
            </div>
            <form method='POST' enctype="multipart/form-data" id="add_form">{% csrf_token %}
                <div class="col-lg-12 p-t-20">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                        <input class="mdl-textfield__input" id="Fax" name="patient_nn" required type="text" />
                        <label class="mdl-textfield__label">
                            Patient National Number
                        </label>
                    </div>
                </div>
                <div class="col-lg-12 p-t-20">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                        <input class="mdl-textfield__input" id="Fax" name="physician_nn" required maxlength="20" type="text" />
                        <label class="mdl-textfield__label">
                            Physician National Number
                        </label>
                    </div>
                </div>
                <div class="col-lg-12 p-t-20">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" id="datetime_add">
                        <input class="form_datetime mdl-textfield__input" type="text" name="date_time" reuqired autocomplete="off" onfocusout="datetime_val()" />
                        <label class="mdl-textfield__label">
                            Visitation Date & Time
                        </label>
                    </div>
                </div>
                <div class="card-body row">
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <input class="mdl-textfield__input" required maxlength="360" name="diagnouse" id="txtdiagnouse" type="text" />
                            <label class="mdl-textfield__label">
                                Diagnouse
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield txt-full-width">
                            <textarea class="mdl-textfield__input" id="text7" rows="4" required name="physician_comments"></textarea>
                            <label class="mdl-textfield__label" for="text7">
                                Comments
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield txt-full-width">
                            <textarea class="mdl-textfield__input" id="text7" rows="4" required name="prescription"></textarea>
                            <label class="mdl-textfield__label" for="text7">
                                Prescription
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
                            <input class="mdl-textfield__input" required id="sample2" readonly="" tabindex="-1" type="text" value="Medium" name="disease_priority" />
                            <label class="pull-right margin-0" for="sample2">
                                <i class="mdl-icon-toggle__label material-icons">
                                    keyboard_arrow_down
                                </i>
                            </label>
                            <label class="mdl-textfield__label" for="sample2">
                                Patient Disease Priority
                            </label>
                            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" data-mdl-for="sample2">
                                <li class="mdl-menu__item" data-val="Very High">
                                    Very High
                                </li>
                                <li class="mdl-menu__item" data-val="High">
                                    High
                                </li>
                                <li class="mdl-menu__item" data-val="Medium">
                                    Medium
                                </li>
                                <li class="mdl-menu__item" data-val="Low">
                                    Low
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
                            <input class="mdl-textfield__input" required id="list3" readonly="" tabindex="-1" type="text" value="Normal" name="visitation_type" />
                            <label class="pull-right margin-0" for="list3">
                                <i class="mdl-icon-toggle__label material-icons">
                                    keyboard_arrow_down
                                </i>
                            </label>
                            <label class="mdl-textfield__label" for="list3">
                                Patient Visitation Type
                            </label>
                            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" data-mdl-for="list3">
                                <li class="mdl-menu__item" data-val="Normal">
                                    Normal
                                </li>
                                <li class="mdl-menu__item" data-val="Consultation">
                                    Consultation
                                </li>
                                <li class="mdl-menu__item" data-val="Operation">
                                    Operation
                                </li>
                                <li class="mdl-menu__item" data-val="ER">
                                    ER
                                </li>
                                <li class="mdl-menu__item" data-val="Other">
                                    Other
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <input class="mdl-textfield__input" id="txt5" name="analysis_radiology" maxlength="360" required type="text" />
                            <label class="mdl-textfield__label">
                                Analysis and Radiology
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <div class="col-lg-12 p-t-20 text-center">
                            <div class="col-lg-12 p-t-20 text-center">
                                <button class="btn btn-circle btn-success" type="submit">
                                    Submit!
                                </button>
                                <button class="btn btn-circle btn-danger" type="reset">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</form>
</div>
</div>
</div>
<!-- End Part Two -->
{% endblock content %}
