{% extends "cpanel/Base.html" %}
{% load staticfiles %}
{% load myTags %}
{% block content %}
<!-- Part One -->
<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class="pull-left">
            <div class="page-title">
                Edit Patient History
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li>
                <i class="fa fa-home">
                </i>
                <a class="parent-item" href="index.html">
                    Home
                </a>
                <i class="fa fa-angle-right">
                </i>
            </li>
            <li class="active">
                Edit Patient History
            </li>
        </ol>
    </div>
</div>
<!-- End Part One -->
<!-- Part Two -->
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="card-head">
                <header>
                    Basic Information
                </header>
            </div>
            <form method='POST' enctype="multipart/form-data" id="add_form">{% csrf_token %}
                <div class="card-body row">
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <input class="mdl-textfield__input" name="patient_nn" required type="text" value="{{patient_history.patient_nn}}" readonly />
                            <label class="mdl-textfield__label">
                                Patient National Number
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <input class="mdl-textfield__input" name="physician_nn" required maxlength="20" value="{{patient_history.physician_nn}}" type="text" readonly />
                            <label class="mdl-textfield__label">
                                Physician National Number
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width" id="datetime_add">
                            <input class="form_datetime mdl-textfield__input" type="text" value="{{patient_history.date_time|date:'Y-m-d H:i'}}" name="date_time" reuqired autocomplete="off" onfocusout="datetime_val()" readonly />
                            <label class="mdl-textfield__label">
                                Visitation Date & Time
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <input class="mdl-textfield__input" required maxlength="360" value="{{patient_history.diagnouse}}" name="diagnouse" id="txtdiagnouse" type="text" 
                            {% if request.user.groups.all.first|into_str in 'Paramedic'|into_list %} readonly {% endif %}/>
                            <label class="mdl-textfield__label">
                                Diagnouse
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield txt-full-width">
                            <textarea class="mdl-textfield__input" id="text7" rows="4" name="physician_comments"
                            {% if request.user.groups.all.first|into_str in 'Paramedic'|into_list %} readonly {% endif %}
                            >{{patient_history.physician_comments}}</textarea>
                            <label class="mdl-textfield__label" for="text7">
                                Comments
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield txt-full-width">
                            <textarea class="mdl-textfield__input" id="text7" rows="4" name="prescription"
                            {% if request.user.groups.all.first|into_str in 'Paramedic'|into_list %} readonly {% endif %}
                            >{{patient_history.prescription}}</textarea>
                            <label class="mdl-textfield__label" for="text7">
                                Prescription
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
                            <input class="mdl-textfield__input" required id="sample2" readonly="" tabindex="-1" type="text" name="disease_priority" value="{{patient_history.disease_priority}}" />
                            <label class="pull-right margin-0" for="sample2">
                                <i class="mdl-icon-toggle__label material-icons">
                                    keyboard_arrow_down
                                </i>
                            </label>
                            <label class="mdl-textfield__label" for="sample2">
                                Patient Disease Priority
                            </label>
                            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" data-mdl-for="sample2">
                                <li class="mdl-menu__item" data-val="Very High">
                                    Very High
                                </li>
                                <li class="mdl-menu__item" data-val="High">
                                    High
                                </li>
                                <li class="mdl-menu__item" data-val="Medium">
                                    Medium
                                </li>
                                <li class="mdl-menu__item" data-val="Low">
                                    Low
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
                            <input class="mdl-textfield__input" required id="list3" readonly="" value="{{patient_history.visitation_type}}" tabindex="-1" type="text" name="visitation_type" />
                            <label class="pull-right margin-0" for="list3">
                                <i class="mdl-icon-toggle__label material-icons">
                                    keyboard_arrow_down
                                </i>
                            </label>
                            <label class="mdl-textfield__label" for="list3">
                                Patient Visitation Type
                            </label>
                            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" data-mdl-for="list3">
                                <li class="mdl-menu__item" data-val="Normal">
                                    Normal
                                </li>
                                <li class="mdl-menu__item" data-val="Consultation">
                                    Consultation
                                </li>
                                <li class="mdl-menu__item" data-val="Operation">
                                    Operation
                                </li>
                                <li class="mdl-menu__item" data-val="ER">
                                    ER
                                </li>
                                <li class="mdl-menu__item" data-val="Other">
                                    Other
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                            <input class="mdl-textfield__input" id="txt5" name="analysis_radiology" maxlength="360" type="text" value="{{patient_history.analysis_radiology}}" />
                            <label class="mdl-textfield__label">
                                Analysis and Radiology
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12 p-t-20">
                        <span>Hide:</span>
                        <label style="display: inline; margin-left: 10px;" class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-8" id="switch_label">
                            <input class="mdl-switch__input" id="switch-8" type="checkbox" name="hide" {% if patient_history.hide%}checked {%endif%} />
                        </label>
                    </div>
                    
                    <div class="col-lg-12 p-t-20 text-center">
                        {% if not request.user.groups.all.first|into_str in 'Paramedic'|into_list %}
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink" type="submit">
                            Submit
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 btn-default" type="button" id="add_form_Cancel_button">
                            Cancel
                        </button>
                        {% endif %}
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Part Two -->
{% endblock content %}
