{% extends "cpanel/Base.html" %}
{% load staticfiles %}
{% block content %}
<!-- Part One -->
<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class="pull-left">
            <div class="page-title">
                Patient List
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li>
                <i class="fa fa-home">
                </i>
                <a class="parent-item" href="index.html">
                    Home
                </a>
                <i class="fa fa-angle-right">
                </i>
            </li>
            <li>
                <a class="parent-item" href="">
                    Patients
                </a>
                <i class="fa fa-angle-right">
                </i>
            </li>
            <li class="active">
                Patient List
            </li>
        </ol>
    </div>
</div>
<!-- End Part One -->
<!-- Part Two -->
<div class="row">
    <div class="col-md-12">
        <div class="tabbable-line">
            <div class="tab-content">
                <div class="tab-pane active fontawesome-demo" id="tab1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-topline-red">
                                <div class="card-head">
                                    <header>
                                    </header>
                                    <div class="tools">
                                        <a class="fa fa-repeat btn-color box-refresh" href="javascript:;">
                                        </a>
                                        <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;">
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <div class="btn-group">
                                                <a class="btn btn-info" href="{% url 'cpanel:patient_add' %}" id="addRow">
                                                    Add New
                                                    <i class="fa fa-plus">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-scrollable">
                                        <table class="table table-hover table-checkable order-column full-width" id="example4">
                                            <thead>
                                                <tr>
                                                    <th>
                                                    </th>
                                                    <th>
                                                        National Number
                                                    </th>
                                                    <th>
                                                        Name
                                                    </th>
                                                    <th>
                                                        Gender
                                                    </th>
                                                    <th>
                                                        Mobile
                                                    </th>
                                                    <th>
                                                        Nationality
                                                    </th>
                                                    <th>
                                                        Relative Mobile
                                                    </th>
                                                    <th>
                                                        Blood Type
                                                    </th>
                                                    <th>
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for patient in patients %}
                                                <tr class="odd gradeX" id="{{patient}}">
                                                    <td class="patient-img">
                                                        <img src="{{patient.patient_nn.image.url}}">
                                                    </td>
                                                    <td>
                                                        {{ patient}}
                                                    </td>
                                                    <td>
                                                        <p>{{patient.patient_nn.stakeholder_name}}
                                                            {{ patient.patient_nn.stakeholder_last_name | capfirst}}</p>
                                                    </td>
                                                    <td class="left">
                                                        <p>{{patient.patient_nn.gender}}
                                                    </td>
                                                    <td class="left">
                                                        <p>
                                                            {% for phone in patient.patient_nn.get_phone %}
                                                            <a href="tel:{{phone.phone}}">
                                                                {{phone.phone}}
                                                            </a>
                                                            <br />
                                                            {% endfor %}
                                                        </p>
                                                    </td>
                                                    <td class="left">
                                                        <p>{{ patient.patient_nn.nationality }}</p>
                                                    </td>
                                                    <td>
                                                        <p>
                                                            {% for phone in patient.get_PatientRelativesPhones %}
                                                            <a href="tel:{{phone.phone}}">
                                                                {{phone.phone}}
                                                            </a>
                                                            <br />
                                                            {% endfor %}
                                                        </p>
                                                    </td>
                                                    <td>
                                                        <p> {{ patient.blood_type }}</p>
                                                    </td>
                                                    <form method="POST" action=""> {% csrf_token %}
                                                        <td>
                                                            <a class="btn btn-primary btn-xs" href="{% url 'cpanel:patient_edit' patient%}">
                                                                <i class="fa fa-pencil">
                                                                </i>
                                                            </a>
                                                            <a class="btn btn-danger btn-xs" onclick="delete_item({{patient}})">
                                                                <i class="fa fa-trash-o">
                                                                </i>
                                                            </a>
                                                        </td>
                                                    </form>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Part Two -->
{%endblock content%}
